{% extends 'user_section/profile_base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/user_section/profile_change_password.css' %}?" />
  <link rel="stylesheet" href="{% static 'css/user_section/profile_base.css' %}" />
{% endblock %}

{% block title %}
  Her Choice | My Address | Change Passw
{% endblock %}

{% block profile_content %}
  <div class="change-password-container">
    <h2 class="page-title">Change Password</h2>
    <p class="page-subtitle">For security reasons, please enter your current password and choose a new one.</p>

    <form method="POST" class="change-password-form">
      {% csrf_token %}
      {% for message in messages %}
      {% if message %}{{message}}{% endif %}{% endfor %}

      <label>Current Password</label>
      <input type="password" name="old_password" required />

      <label>New Password</label>
      <input type="password" name="new_password" required />

      <label>Confirm Password</label>
      <input type="password" name="confirm_password" required />

      <button type="submit" class="btn-primary">Update Password</button>
    </form>
  </div>
{% endblock %}
