{% extends "accounts/admin_base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}

<h2 class="brand-title">Her Choice</h2>
<p class="brand-subtitle">Forgot Password</p>
<p class="brand-description">Enter your email address to receive reset instructions</p>

<form method="POST">
    {% csrf_token %}

    <div class="mb-4">
        <label class="fw-medium">{{ form.email.label }}</label>
        
        {{ form.email }} 
        
        {% for error in form.email.errors %}
            <small class="text-danger d-block">{{ error }}</small>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-custom w-100">Send Reset Link</button>


    {% if error %}
        <p class="text-danger text-center mt-3">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p class="text-success text-center mt-3">{{ success }}</p>
    {% endif %}
</form>

{% endblock %}

