{% extends "accounts/admin_base.html" %}
{% load static %}
{% block title %}Verify OTP{% endblock %}

{% block content %}

<h3 class="fw-bold mb-2">Verify OTP</h3>

<p class="text-muted mb-4">
    We've sent a 6-digit code to <strong>{{ request.session.reset_email }}</strong>
</p>

<form method="POST" id="otpForm">
    {% csrf_token %}

    <label class="fw-medium">Enter Verification Code</label>

    <!-- OTP Input Boxes -->
    <div class="d-flex gap-2 my-3 justify-content-center">
        <input type="text" maxlength="1" class="otp-input" />
        <input type="text" maxlength="1" class="otp-input" />
        <input type="text" maxlength="1" class="otp-input" />
        <input type="text" maxlength="1" class="otp-input" />
        <input type="text" maxlength="1" class="otp-input" />
        <input type="text" maxlength="1" class="otp-input" />
    </div>

    <!-- Invisible field to send full OTP -->
    <input type="hidden" name="otp" id="otpHidden">

    <!-- Verify Button -->
    <button type="submit" class="btn btn-custom w-100 mt-2">
        Verify Code
    </button>

    {% if error %}
    <p class="text-danger text-center mt-3">{{ error }}</p>
    {% endif %}

</form>

<!-- Back Link -->
<div class="text-center mt-3">
    <a href="{% url 'admin_forgot_password' %}" class="text-muted">Back</a>
</div>

<link rel="stylesheet" href="{% static 'css/accounts/admin_otp_verify.css' %}">

<script src="{% static 'js/accounts/admin_otp_verify.js' %}"></script>

{% endblock %}