{% extends "accounts/user_base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}

<h2 class="brand-title">Her Choice</h2>
<p class="brand-subtitle mb-4">Reset Your Password</p>

<p class="text-muted text-center mb-4" style="font-size: 14px">
    Enter the email address associated with your account.
    We will send you a verification code.
</p>




<form method="POST">
    {% csrf_token %}

    <div class="mb-4">
        <label class="fw-semibold">{{ form.email.label }}</label>
        {{ form.email }}
        {% for error in form.email.errors %}
        <small class="text-danger d-block">{{ error }}</small>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-custom w-100">
        Send Verification Code
    </button>

</form>

<div class="text-center mt-3" style="font-size:14px;">
    Remember your password?
    <a href="{% url 'user_login' %}" class="text-decoration-none" style="color:#d6336c;">Log In</a>
</div>

{% endblock %}


{% comment %} {% extends "accounts/user_base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}

<h2 class="brand-title">Her Choice</h2>
<p class="brand-subtitle">Forgot Password</p>
<p class="brand-description">Enter your email address to receive reset instructions</p>

<form method="POST">
    {% csrf_token %}

    <div class="mb-4">
        <label class="fw-medium">{{ form.email.label }}</label>

        {{ form.email }}

        {% for error in form.email.errors %}
        <small class="text-danger d-block">{{ error }}</small>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-custom w-100">Send Reset Link</button>


    {% if error %}
    <p class="text-danger text-center mt-3">{{ error }}</p>
    {% endif %}
    {% if success %}
    <p class="text-success text-center mt-3">{{ success }}</p>
    {% endif %}
</form>

{% endblock %}
{% endcomment %}