<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="product-card">
  <div class="product-img-container">
    <a href="#">
      {% if product.display_image %}
        <img src="{{ product.display_image.url }}"
             alt="{{ product.name }}"
             class="product-image">
      {% else %}
        <div class="no-image-box">No Image</div>
      {% endif %}
    </a>
  </div>

  <div class="product-info">
    <p class="product-name">{{ product.name }}</p>

    <div class="price">
      {% with v=product.variants.first %}
        {% if v and v.offer_price %}
          <span class="offer-price">₹ {{ v.offer_price }}</span>
          <del class="old-price">₹ {{ v.base_price }}</del>
        {% elif v %}
          <span class="regular-price">₹ {{ v.base_price }}</span>
        {% endif %}
      {% endwith %}
    </div>

    {% with v=product.variants.first %}
      {% if v and v.is_active %}
        <div class="button-group">
          <a href="{% url 'cart' %}" class="btn-add">
            <i class="fas fa-shopping-cart"></i> Add to Cart
          </a>
          <a href="#" class="btn-buy">
            <i class="fas fa-shopping-bag"></i> Buy Now
          </a>
        </div>
      {% else %}
        <span class="out-of-stock">Unavailable</span>
      {% endif %}
    {% endwith %}
  </div>
</div>

        
        <script src="" async defer></script>
    </body>
</html>