{% extends 'user_section/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/products/product_listing.css' %}?v=1.8" />
{% endblock %}

{% block content %}
<div class="shop-container">
    <aside class="filter-sidebar">
        <div class="results-count">
            <span>Her Choice Fashion Store - <strong>{{ products|length }}</strong> Items</span>
        </div>

        <form action="" method="GET"id="filter-form">
            <input type="hidden" name="search" value="{{ search_query }}">
            <input type="hidden" name="sort" value="{{ current_sort }}">

            <h4>CATEGORIES <i class="fa-solid fa-magnifying-glass" style="color: #94969f; font-size: 14px;"></i></h4>
            <div class="category-list">
                {% for category in categories %} 
                    <label class="category-item">
                        <input type="checkbox" name="category" value="{{ category.id }}" 
                        {% if category.id|stringformat:"s" in selected_categories %}checked{% endif %}
                        onchange="this.form.submit()">
                        <span class="category-name">{{ category.name }}</span>
                        <span class="count">({{ category.product_count }})</span>
                    </label>
                {% endfor %}
            </div>

            <hr class="filter-divider">

            <h4>BRANDS <i class="fa-solid fa-magnifying-glass" style="color: #94969f; font-size: 14px;"></i></h4>
            <div class="brand-list" style="max-height: 200px; overflow-y: auto;">
                {% for brand in brands %}
                    <label class="category-item">
                        <input type="checkbox" name="brand" value="{{ brand.id }}" 
                        {% if brand.id|stringformat:"s" in selected_brands %}checked{% endif %}
                        onchange="this.form.submit()">
                        <span class="category-name">{{ brand.name }}</span>
                        <span class="count">({{ brand.product_count }})</span>
                    </label>
                {% endfor %}
            </div>

            {% comment %} {% if categories.count > 8 %}
            <span class="more-link">+ {{ categories.count|add:"-8" }} more</span>
        {% endif %} {% endcomment %}

            <hr class="filter-divider">
            <h4>Price Range</h4>
            <div class="price-filter-container">
                <input type="number" name="min_price" placeholder="Min" value="{{ request.GET.min_price }}">
                <span style="color: #94969f;">-</span>
                <input type="number" name="max_price" placeholder="Max" value="{{ request.GET.max_price }}">
            </div>
            <button type="submit" class="btn-apply">Apply</button>

            <a href="{% url 'product_listing' %}" class="btn-clear">Clear All Filters</a>
        </form>
    </aside>

    <!-- Sort based on -->
    <main class="product-results">
       <div class="sort-bar">
            <div class="sort-wrapper">
                <label for="sort-select">Sort by:</label>
                <select id="sort-select" name="sort" onchange="applySort(this.value)">
                    <option value="newest" {% if current_sort == 'newest' %}selected{% endif %}>Recommended</option>
                    <option value="price_low" {% if current_sort == 'price_low' %}selected{% endif %}>Price: Low to High</option>
                    <option value="price_high" {% if current_sort == 'price_high' %}selected{% endif %}>Price: High to Low</option>
                    <option value="name_az" {% if current_sort == 'name_az' %}selected{% endif %}>Name: A - Z</option>
                    <option value="name_za" {% if current_sort == 'name_za' %}selected{% endif %}>Name: Z - A</option>
                </select>
            </div>
        </div>

        <!-- Product listing -->
        <div class="product-grid">
            {% for product in products %}
                {% include 'products/includes/product_card.html' %}
            {% empty %}
                <div class="no-results">
                    <p>No results found for "<strong>{{ search_query }}</strong>".</p>
                    <a href="{% url 'product_listing' %}" class="btn-clear">View All Products</a>
                </div>
            {% endfor %}
        </div>
    </main>
</div>
{% endblock %}

{% block extra_js %}
<script>
    
    function applySort(sortValue) {
        // Create a URLSearchParams object from the current window location
        const urlParams = new URLSearchParams(window.location.search);
        
        // Set the 'sort' parameter to the selected value
        urlParams.set('sort', sortValue);
        
        // Reload the page with the updated parameters
        window.location.search = urlParams.toString();
    }
</script>
{% endblock %}