body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #fdeef3; /* soft pink background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    width: 550px;
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.1);
}

.brand-title {
    color: #d6336c;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.brand-subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.brand-description {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.form-control {
    height: 48px;
    border-radius: 10px;
    font-size: 15px;
}

.btn-custom {
    background: #d6336c;
    color: white;
    height: 48px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
} 

.custom-input {
    height: 48px;
    font-size: 15px;
    border-radius: 10px !important;
}

.eye-btn {
    cursor: pointer;
    background: white;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

/* 
.btn-custom {
    border: none;
    padding: 12px;
    margin-top: 15px;
} 
*/

.btn-custom:hover {
    background: #b82859;
}
